<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <aop:aspectj-autoproxy />

    <bean name="xmlLogger" class="ru.itis.aspects.XMLLogging"/>
    <bean name="annLogger" class="ru.itis.aspects.AnnotationLogging"/>

    <!--так почему-то не работает, пришлось создавать объект в Main классе-->
    <!--<bean name="listener" class="ru.itis.group.listener.Listener">-->
        <!--<constructor-arg value="Jackob"/>-->
    <!--</bean>-->

    <bean name="audition" class="ru.itis.Audition"></bean>

    <bean name="musicianfactory" class="ru.itis.group.MusicianFactory"/>

    <aop:config>
        <aop:pointcut id="add" expression="execution(* ru.itis.Audition.addMember(..))"/>
        <aop:pointcut id="start" expression="execution(* ru.itis.Audition.start())"/>
        <aop:pointcut id="setlistener" expression="execution(* ru.itis.Audition.setListener(..)) and args(listener)"/>
        <aop:pointcut id="getmusician" expression="execution(* ru.itis.group.MusicianFactory.getMusician(..))"/>

        <aop:aspect ref="xmlLogger">
            <aop:before pointcut-ref="add" method="logBefore"/>
            <aop:after pointcut-ref="start" method="logAfter"/>
            <aop:after-returning pointcut-ref="getmusician" method="logAfterSuccess"/>
            <aop:around pointcut-ref="setlistener" method="logAround"/>
            <aop:after-throwing pointcut-ref="start" method="logAfterException"/>
        </aop:aspect>
    </aop:config>
</beans>